body {
  background-color: #878784;
}
p {font-family: sans-serif;
  color: black;
  margin: 50px;
  
}
h1 {text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

img {image-resolution: snap;
     border: solid 5px;
     border-color: darkcyan;
     border-style: groove;
     float: center;
     height: 350px;
     width: 370px;
}

li {
    letter-spacing: 2px;
    border: inset 1px;
    border-style: dashed;
    border-radius: 50px;
    color: #C1D7E6;
    font-family: cursive;
    text-overflow: ellipsis;
    text-align: right;}

h3 {text-align: justify;
    align-self: flex-end;
    background-color: mintcream;
    color: firebrick;
    font-family: cursive;}